.input-container {
    width: 397px;
    position: relative;

}

.icon {
    position: absolute;
    right: 8px;
    top: 8px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--app-email-bg-color);
    border-radius: 2px;
    background: var(--app-email-bg-color);
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 24px;
    font-family: var(--font-family);
    font-size: 19px;
    font-weight: 400;
    line-height: 35px;
    color: var(--contact-text-color);
}