:root {
    --app-main-bg-color: #00486D;

    --font-family: 'DM Sans';

    --dark-text-color: #00486D;
    --light-text-color: #FFFFFF;
    --info-line-text-color: #99B6C5;
}
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

.restrict-content-size {
    max-width: 1270px;
    margin: 0 auto;
}