
:root {
    --app-main-bg-color: #00486D;
    --app-light-bg-color: #F2F6F7;
    --app-consult-block-bg-color: #E4ECF0;
    --app-consult-circles-bg-color: #CCDAE2;
    --font-family: 'DM Sans';
    --secondary-font-family: 'DM Serif Text';

    --dark-text-color: #00486D;
    --light-text-color: #FFFFFF;
    --info-line-text-color: #99B6C5;
    --contact-email-text-color: #99B6C5;
    /*85px - расстояние от логотипа до левого края на макете, 
    40px - расстояние от nav до контента в меню*/
    --main-padding--left: calc(85px + 40px);
    --min-content-width: 1270px;
}


body {
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

.restrict-content-size {
    width: var(--min-content-width);
    padding-left: 85px;
}

.flex {
    display: flex;
    align-items: center;
    gap: 32px;
}